//****************************
//*COLOR Variable
//****************************

//*Primary
$royal_black: #202020; //*color used for toolbar
$royal_white: white;
$royal_blue: rgb(94, 199, 200);
$royal_line_color: rgb(51, 51, 51);
$footer-color: rgb(23, 23, 23);

//*Secondary

//*Tersary
