* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  font-size: 10px;
  @include media('<=tablet') {
    font-size: 8px;
  }
  @include media('<=tablet') {
    font-size: 6px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  background: $royal_black;
}

// toolbar z indx 100
// blur blank z indx 101
// asidebar z indx 1000

html {
  scroll-behavior: smooth;
}

