#contactMeSectionContainer {
  margin-bottom: 10rem;
  justify-content: center;
  @include flexContainer;
  align-items: center;
}
#container_contact_me {
  justify-content: center;
  @include flexContainer;
  align-items: center;
}
#contactMeSection {
  width: 75%;
  @include media('<=tablet') {
    width: 100%;
  }
  margin-top: 10rem;
  @include flexContainer;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 44px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -6px rgba(0, 0, 0, 1);
  background-color: #191919;
  #leftSection,
  #rightSection {
    margin: 0rem 2rem;
  }
  #leftSection {
    text-align: center;
    h3 {
      margin-top: 2rem;
      font-size: 3.2rem;
      color: $royal_white;
    }
    h1 {
      margin-top: -0.4rem;
      font-size: 7.1rem;
      color: $royal_white;
    }
    h2 {
      margin-top: -2.4rem;
      font-size: 2.9rem;
      color: $royal_blue;
    }
    h4 {
      margin-top: 2.4rem;
      font-size: 2.4rem;
      color: $royal_white;
    }
  }
  #rightSection {
    @include media('<=desktop') {
      padding-top: 5rem;
    }
    img {
      height: 49rem;
      @include media('<=tablet') {
        height: 65rem;
      }
    }
  }
}
